# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
*.iml
.vscode/

# Android（本机生成的平台文件）
android/local.properties
android/.gradle/
android/key.properties
*.jks
*.keystore
