<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 录音需要麦克风权限（运行时申请）。
         文件/图片选择均走系统选择器，无需任何存储权限；
         纯离线应用，不申请 INTERNET 权限。 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Android 11 及以上的包可见性限制：
         声明后 App 才能检测到可打开 Office 等文档的第三方应用 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:label="བརྩོན་རྟོགས་དཔེ་མཛོད།"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
